
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/hpapf.css">

 <div class="hpcd-side-menu">
       
       
        <input type="hidden" name="shop" value="0">

        <div class="hpcd-menu-content">
          <h3 id="content-category"  style="width:100%" class="hpcd-menu-heading">
            <a data-toggle="collapse" data-parent="#content-category" href="#content-Category" aria-controls="content-Category" aria-expanded="true" type="button" class="hpcd-menu-header">
              <span id="header-Category">Kategori</span>
              <div class="hpcd-menu-icon">
                <svg class="unf-icon unf-icon__chevron" viewBox="0 0 24 24" width="24" height="24" fill="var(--color-icon-enabled, #2E3137)" style="display:inline-block;vertical-align:middle;transform:rotate(-180deg)">
                  <path d="M12 15.25a.74.74 0 01-.53-.22l-5-5A.75.75 0 017.53 9L12 13.44 16.47 9a.75.75 0 011.06 1l-5 5a.74.74 0 01-.53.25z"></path>
                </svg>
              </div>
            </a>
          </h3>
          <div id="content-Category" aria-expanded="true" class="collapse in" role="region" aria-labelledby="header-Category" style="width:100%">
            <ul class="hpcd-account-menu-list">

             {% for category_1 in categories %}
               

               <li>
                <button class="hpcd-menu-item">
                  <p tabindex="-1" class="hpcd-menu-item-heading">
                    <a class="category{{category_1.category_id}} {% if category_id == category_1.category_id %} active {% endif %}" data-id="{{category_1.category_id}}">{{ category_1.name }}</a>
                  </p>
                </button>
              </li>

                {% for category_2 in category_1.children %}
                      
                       <li>
                        <button class="hpcd-menu-item">
                          <p tabindex="-1" class="hpcd-menu-item-heading">
                            <a class="category{{category_2.category_id}} {% if category_id == category_2.category_id %} active {% endif %}" data-id="{{category_2.category_id}}">{{ category_2.name }}</a>
                          </p>
                        </button>
                      </li>

                  {% for category_3 in category_2.children %}

                      <li>
                        <button class="hpcd-menu-item">
                          <p tabindex="-1" class="hpcd-menu-item-heading">
                            <a class="category{{category_3.category_id}} {% if category_id == category_2.category_id %} active {% endif %}" data-id="{{category_3.category_id}}">{{ category_3.name }}</a>
                          </p>
                        </button>
                      </li>

                  {% endfor %}

                {% endfor %}
          {% endfor %}
    
            
            </ul>
          </div>
        </div>

        <div class="hpcd-menu-content">
          <h3 id="content-location"  style="width:100%" class="hpcd-menu-heading">
            <a data-toggle="collapse" data-parent="#content-location" href="#content-Location" aria-controls="content-Location" aria-expanded="true" type="button" class="hpcd-menu-header">
              <span id="header-Location">Lokasi</span>
              <div class="hpcd-menu-icon">
                <svg class="unf-icon unf-icon__chevron" viewBox="0 0 24 24" width="24" height="24" fill="var(--color-icon-enabled, #2E3137)" style="display:inline-block;vertical-align:middle;transform:rotate(-180deg)">
                  <path d="M12 15.25a.74.74 0 01-.53-.22l-5-5A.75.75 0 017.53 9L12 13.44 16.47 9a.75.75 0 011.06 1l-5 5a.74.74 0 01-.53.25z"></path>
                </svg>
              </div>
            </a>
          </h3>
          <div id="content-Location" aria-expanded="true" class="collapse in" role="region" aria-labelledby="header-Location" style="width:100%">
            <ul class="hpcd-account-menu-list">

             {% for zone in zones %}
              <label class="hpcd-menu-item">
                  <input {% if zone.zone_id in locations %} checked {% endif %} type="checkbox" name="search_location" value="{{zone.zone_id}}">
                  <span class="links-text">{{zone.name}}</span>
              </label>
            {% endfor %}
    
            
            </ul>
          </div>
        </div>


         <div class="hpcd-menu-content">
          <h3 id="content-price"  style="width:100%" class="hpcd-menu-heading">
            <a data-toggle="collapse" data-parent="#content-price" href="#content-Price" aria-controls="content-Price" aria-expanded="true" type="button" class="hpcd-menu-header">
              <span id="header-Price">Harga</span>
              <div class="hpcd-menu-icon">
                <svg class="unf-icon unf-icon__chevron" viewBox="0 0 24 24" width="24" height="24" fill="var(--color-icon-enabled, #2E3137)" style="display:inline-block;vertical-align:middle;transform:rotate(-180deg)">
                  <path d="M12 15.25a.74.74 0 01-.53-.22l-5-5A.75.75 0 017.53 9L12 13.44 16.47 9a.75.75 0 011.06 1l-5 5a.74.74 0 01-.53.25z"></path>
                </svg>
              </div>
            </a>
          </h3>
          <div id="content-Price" aria-expanded="true" class="collapse in" role="region" aria-labelledby="header-Price" style="width:100%">
            
            <div class="form-group">
              <div class="input-group">
                    <span class="input-group-addon">Rp</span>
                    <input type="number" name="min_price" placeholder="Harga Minimum" class="form-control">
                </div>
              </div>


              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Rp</span>
                    <input type="number" name="max_price" placeholder="Harga Maksimum" class="form-control">
                </div>
              </div>


            {% for price in prices %}
              <button data-min="{{price.min}}" data-max="{{price.max}}" class="price-button">{{price.text}}</button>
            {% endfor %}

          </div>
        </div>
      

      </div>

<script>

  let ajax;

  let category_id = {{category_id}};


  $('.price-button').click(function(){
     let max = $(this).data('max');
     let min = $(this).data('min');

     $('input[name=\'max_price\']').val(max);

     $('input[name=\'min_price\']').val(min);

     searchAjax();
  });

  $('#search-produk, #search-shop').off();

  $(document).on('click', '#search-produk, #search-shop',function(){
    $(this).parent().find('li').removeClass('active');

    $(this).addClass('active');

    if($(this).attr('id') == 'search-produk'){
        $('input[name="shop"]').val(0);
     }else{
        $('input[name="shop"]').val(1);
     }

     console.log(11);

     searchAjax();
  });

  $('#search-produk, #search-shop').click(function(){
    console.log(11);
     if($(this).attr('id') == 'search-produk'){
        $('input[name="shop"]').val(0);
     }else{
        $('input[name="shop"]').val(1);
     }

     searchAjax();
  });



  $('#search-hpapf input[name="search"]').off();

  $('#search-hpapf input[name="search"]').on('keypress',function(e) {
      if(e.which == 13) {
          searchAjax();
      }
  });

  $(document).on('click', '.pagination a', function(e) {
      e.preventDefault();

      let url = $(this).attr('href');

      searchAjax(url);
  });



  $('#search-hpapf button[name="submit_search"]').click(function(e) {
          searchAjax();
  });

  


  $(document).on('change', '#input-sort', function(){
    let url = $(this).find(':selected').val();

    if(url){
      searchAjax(url);
    }
  });


  $('input[name=\'min_price\'],input[name=\'max_price\']').blur(function(){
    searchAjax();
  });

  $('input[name=\'search_location\']').change(function(){
    searchAjax();
  });

  $('#content-Category a').click(function(e){

    e.preventDefault();

    category_id = $(this).data('id');

    $('#content-Category a').removeClass('active');

    $('.category' + category_id).addClass('active');
    
    searchAjax();
  });


  function searchAjax(url = null){

    if(ajax !== undefined){
      ajax.abort();
    }
    
    if(url == null){
      url = '';

      var separator = '{{action}}'.includes('?') ? '&' : '?';

      url += separator + 'ajax=true';



      let ids_location = [];

      $('input[name="search_location"]:checked').each(function(){
          ids_location.push($(this).val());
      });

      ids_location = ids_location.join(',');

      let shop = $('input[name="shop"]').val();

      if(shop){
          url += '&shop=' + encodeURIComponent(shop);
      }

      let search = $('#search-hpapf input[name=\'search\']').val();

      if (search) {
          url += '&search=' + encodeURIComponent(search);
      }

      let max_price = $('input[name=\'max_price\']').val();

      if(max_price){
        url += '&max_price=' + encodeURIComponent(max_price);
      }

      let min_price = $('input[name=\'min_price\']').val();

      if(min_price){
        url += '&min_price=' + encodeURIComponent(min_price);
      }

      if(category_id){
        url += '&category_id=' + encodeURIComponent(category_id);
      }

      if(ids_location){
        url += '&location=' + ids_location;
      }

      url = '{{action}}' + url; 

    }else{
      url += '&ajax=true';
    }

    

    ajax = $.ajax({
        url: url,
        beforeSend:function(){
          //$('#content .products-category').addClass('loading');
          $('#content .products-category').busyLoad("show", {
                  spinner: "accordion",
                  background: "#e0000057",
          });
        },
        completed:function(){
         // $('#content .products-category').removeClass('loading');

          $('#content .products-category').busyLoad("hide");
        },
        success: function(html) {
            $('#content .products-category').replaceWith(html);
        }
	});
  }
</script>
